# Extracting Tesla Stock Data Using yfinance

In [69]:
import yfinance as yf
ticker_symbol = 'TSLA'
tsla_data = yf.Ticker(ticker_symbol)
Tsdata = tsla_data.history(period="1y") 
Tsdata.reset_index(inplace=True)
Tsdata.head()

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits
0,2023-08-21 00:00:00-04:00,221.550003,232.130005,220.580002,231.279999,135702700,0.0,0.0
1,2023-08-22 00:00:00-04:00,240.250000,240.820007,229.550003,233.190002,130597900,0.0,0.0
2,2023-08-23 00:00:00-04:00,229.339996,238.979996,229.289993,236.860001,101077600,0.0,0.0
3,2023-08-24 00:00:00-04:00,238.660004,238.919998,228.179993,230.039993,99777400,0.0,0.0
4,2023-08-25 00:00:00-04:00,231.309998,239.000000,230.350006,238.589996,106612200,0.0,0.0

# Extracting Tesla Revenue Data Using Webscraping

In [1]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [6]:
url = "https://www.macrotrends.net/stocks/charts/TSLA/tesla/revenue"
response = requests.get(url)
soup = BeautifulSoup(response.text, 'html.parser')
table = soup.find_all('table', {'class': 'historical_data_table table'})
if table:
    for row in table[0].find_all('tr'):
        columns = row.find_all('td')
        if len(columns) > 1:
            date = columns[0].get_text(strip=True)
            revenue = columns[1].get_text(strip=True)
            print(f"Date: {date}, Revenue: {revenue}")
else:
    print("No table found with the specified class.")

No table found with the specified class.

# Extracting GameStop Stock Data Using yfinance

In [7]:
import yfinance as yf
ticker_symbol = 'GME'
gme_data = yf.Ticker(ticker_symbol)
hist = gme_data.history(period="1y")
hist.reset_index(inplace=True)
hist.head()

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits
0,2023-08-24 00:00:00-04:00,16.940001,16.980000,16.180000,16.360001,3624500,0.0,0.0
1,2023-08-25 00:00:00-04:00,16.500000,17.180000,16.450001,17.129999,3423500,0.0,0.0
2,2023-08-28 00:00:00-04:00,17.350000,18.110001,17.250000,17.570000,3007400,0.0,0.0
3,2023-08-29 00:00:00-04:00,17.600000,18.549999,17.600000,18.240000,2709200,0.0,0.0
4,2023-08-30 00:00:00-04:00,18.200001,18.520000,17.910000,18.370001,1884500,0.0,0.0

# Extracting GameStop Revenue Data Using Webscraping

In [7]:
import requests
from bs4 import BeautifulSoup
url = "https://www.macrotrends.net/stocks/charts/GME/gamestop/revenue"
response = requests.get(url)
soup = BeautifulSoup(response.text, 'html.parser')
table = soup.find_all('table', {'class': 'historical_data_table table'})
if table:
    for row in table[0].find_all('tr'):
        columns = row.find_all('td')
        if len(columns) > 1:
            date = columns[0].get_text(strip=True)
            revenue = columns[1].get_text(strip=True)
            print(f"Date: {date}, Revenue: {revenue}")
else:
    print("No table found with the specified class.")

No table found with the specified class.